body {
    background-color: #151515;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

.wlcm {
    margin-top: 50px;
}

.rqr {
    margin-top: 50px;
}

.rqr a {
    color: #ffffff;
}

.wlcm h1,h2,h3,h4 {
    text-align: center;
}

.nav {
    border: none;
    background-color: #ffffff;
}

.nav li a {
    color: #151515 !important;
}

.nav li a:hover {
    border: none;
}

.nav .active {
    color: #ffffff !important;
    background-color: #151515 !important;
    border: none;
}

.cards {
    margin: 75px 25px 0px 25px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    color: #151515;
}

.dld {
    background-color: #151515;
    color: #ffffff;
}